# Nuxt dev/build outputs
Dockerfile
.dockerignore
.gitignore
.git
.output
.data
.nuxt
.nitro
.cache
dist
*.tar
.circleci

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
keys
.vscode

# Local env files
.env
